@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.mee {
  &-box {
    width: 100%;
    max-width: var(--mee-editor-width);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    visibility: inherit;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }

  &-toolbar {
    min-height: 0;
    display: flex;
    flex-direction: column;
    position: relative;

    &-overload {
      @extend .mee-toolbar;
    }

    &-groups {
      display: flex;
      flex-wrap: wrap;
      padding: 12px 0;
      gap: 24px;
    }

    &-group {
      display: flex;
    }
  }

  &-buttons {
    display: flex;
    flex-direction: row;
    padding: 12px 0;
    gap: 24px;

    &-group {
      display: flex;
      gap: 4px;
    }
  }

  &-button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    background-color: transparent;
    position: relative;

    &:hover::after { visibility: visible }
    &::after {
      content: attr(title);
      position: absolute;
      top: calc(100% + 8px); left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
      visibility: hidden;
      pointer-events: none;
      font-weight: 600;
      font-family: 'Inter', 'Arial', 'Roboto', 'Segoe UI', Verdana, Geneva, Tahoma, sans-serif;
      z-index: 10;
    }

    svg {
      width: 20px;
      height: 20px;
      fill: currentColor;
    }
  }

  &-wrapper {
    min-height: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: 'Inter', 'Arial', 'Roboto', 'Segoe UI', Verdana, Geneva, Tahoma, sans-serif;
  }

  &-content {
    height: var(--mee-editor-height);
    overflow: hidden;
    white-space: normal;
    word-wrap:break-word;
    overflow-y: auto;

    &:focus {
      outline: none;
    }
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
}

.mee {
  &-box {
    &[theme="light"] {
      border-radius: 8px;
      background-color: white;

      .mee {
        &-toolbar {
            padding: 0 24px;
            background-color: inherit;

            &-overload {
              background-color: transparent;
            }
        
            &-groups {
              background-color: transparent;
            }
        }

        &-button {
          color: #18181b;
          &[aria-pressed='true'] { color: #2563EB }

          &::after {
            color: white;
            border-radius: 2px;
            padding: 4px 8px;
            background-color: #18181b;
          }

          &:hover {
            background-color: rgba(0,0,0, .06);
          }
        }

        &-wrapper {
          padding: 0 8px 8px 8px;
        }

        &-content {
          padding: 0 24px 24px 24px;
          color: #18181b;
          scrollbar-width: thin;
        }
      }
    }

    &[theme="dark"] {
      border-radius: 8px;
      background-color: #18181b;

      .mee {
        &-toolbar {
          padding: 0 24px;
          background-color: inherit;
          scrollbar-width: thin;
    

          &-overload {
            background-color: transparent;
          }
      
          &-groups {
            background-color: transparent;
          }
        }

        &-button {
          color: white;
          &[aria-pressed='true'] { color: #2563EB }

          &::after {
            color: white;
            border-radius: 2px;
            padding: 4px 8px;
            background-color: #27272A;
          }

          &:hover {
            background-color: rgba(255,255,255, .06);
          }
        }

        &-wrapper {
          padding: 0 8px 8px 8px;
        }

        &-content {
          scrollbar-width: thin;
          padding: 0 24px 24px 24px;
          color: white;
        }
      }
    }
  }
}